/* general */

body {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    max-height: 200px;
    -webkit-user-select: none;
    width: 555px;
}

input[type="text"] {
    width: 100%;
}

.options button {
    background-size: contain;
    height: 15px;
    width: 15px;
}

.options .edit {
    background-image: url('/img/Pencil.png');
}

.options .delete {
    background-image: url('/img/Trash Can.png');
}

#track-page {
    height: 15px;
    margin: 0 4px;
    vertical-align: bottom;
    width: 15px;
}

#track-page-label {
    font-weight: bold;
}

#page-list {
    border-collapse: collapse;
    width: 100%;
}

#page-list td {

    width: 25%;
}

