/* general */

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    -webkit-user-select: none;
    width: 555px;
}

input {
    border-width: 2px;
}

input[type="text"], input[type="number"] {
    outline: none;
    margin: 1px;
    padding: 1px;
}

input[type="number"] {

}

label {
    font-weight: bold;
}

/* util */

.hidden {
    display: none;
}

/* scroll bar */

html::-webkit-scrollbar {
    width: 6px;
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 7px;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.7);
}
html::-scrollbar-corner {
    display: none;
}

/* controls */

#controls {
    vertical-align: middle;
}

/* new page */

#new-page-span {
    float: right;
}

#new-page {
    background-image: url("/img/Plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

/* track page */

#track-page {
    height: 15px;
    margin: 0 4px;
    vertical-align: bottom;
    width: 15px;
}

/* page list */

#page-list {
    border-collapse: collapse;
    border-spacing: 20px;
    margin: 10px 0 5px 0;
    width: 100%;
}

#page-list tr {
    border-color: #808080;
    border-style: solid;
    border-width: 1px 0;
    padd
}

#page-list th {
    padding: 3px;
}

#page-list th.name {
    text-align: left;
}

#page-list th.chapter, #page-list th.page {
    text-align: center;
    width: 80px;
}

#page-list th.options {
    width: 40px;
}

#page-list tbody tr.data:hover {
    background-color: #D0D0D0;
    cursor: pointer;
}

#page-list td {
    padding: 4px 4px 3px 4px;
    vertical-align: top;
}

#page-list td.chapter, #page-list td.page {
    text-align: center;
}

#page-list td.options {
    text-align: center;
}

/* input */

#page-list .input {
    text-align: center;
}

#page-list .input input[name="name"] {
    width: calc(33% - 8px);
}

#page-list .input input[name="url"] {
    width: calc(66% - 8px);
}

/* editing */

#page-list .editing td {
    padding: 4px 2px;
}

#page-list .editing input[type="text"] {
    width: calc(100% - 8px);
}

#page-list .editing input[type="number"] {
    width: calc(100% - 8px)
}

#page-list .editing input[name="rawUrl"] {
    margin-top: 4px;
}

/* option buttons */

#page-list .options button {
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}

#page-list .options .cancel {
    background-image: url('/img/Cancel.png');
}

#page-list .options .accept {
    background-image: url('/img/Tick.png');
}

#page-list .options .edit {
    background-image: url('/img/Pencil.png');
}

#page-list .options .delete {
    background-image: url('/img/Trash Can.png');
}

/* credits */

#credits-button {
    background-color: inherit;
    border: none;
    display: block;
    font-size: 10px;
    line-height: inherit;
    margin-left: auto;
    padding: 0 10px;
}