/* general */

body {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    max-height: 200px;
    -webkit-user-select: none;
    width: 555px;
}

input[type="text"], input[type="number"] {
    outline: none;
}

input[type="text"] {
    width: 100%;
}

.hidden {
    display: none;
}

/* track page */

#track-page {
    height: 15px;
    margin: 0 4px;
    vertical-align: bottom;
    width: 15px;
}

#track-page-label {
    font-weight: bold;
}

/* page list */

#page-list {
    border-collapse: collapse;
    border-spacing: 20px;
    margin: 10px 0;
    width: 100%;
}

#page-list tr {
    border-color: #808080;
    border-style: solid;
    border-width: 1px 0;
}

#page-list th {
    padding: 3px 0;
}

#page-list th.name {
    text-align: left;
}

#page-list th.chapter, #page-list th.page {
    text-align: right;
}

#page-list td {
    padding: 5px 0;
    vertical-align: top;
}

#page-list td.chapter, #page-list td.page {
    text-align: right;
    width: 50px;
}

/* editing */

#page-list .editing input[type="number"] {
    width: 100%;
}

#page-list .editing .rawUrl {
    position: absolute;
    width: 555px;
}

/* option buttons */

.options {
    float: right;
}

.options button {
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

.options .cancel {
    background-image: url('/img/Cancel.png');
}

.options .accept {
    background-image: url('/img/Tick.png');
}

.options .edit {
    background-image: url('/img/Pencil.png');
}

.options .delete {
    background-image: url('/img/Trash Can.png');
}